/* Color del fondo de la Pagina */
body{
    background-image: linear-gradient(to right, rgba(0,100,50,0.7),cyan);
}

/* Barra de navegación */
nav{
    background-color: rgba(18, 74, 194, 0.7);
}

/*
    Barra de navegación
        Letras de lista
        
*/
.letraLista{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
    font-family: 'Open Sans', sans-serif;
    color: paleturquoise;
}


/* Titulos */
h1, h2, h3, h4, h5{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Work+Sans:wght@700&display=swap');
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
}

/* Buscador */
.Categoria{
    text-decoration: none;
    color: whitesmoke;
}

.Categoria:hover{
    text-decoration: none;
    color:white;
}


/* Utilizar letras grandes en ciertos dispositivos */
@media (min-width: 1023px) {
    .letraLista{
        font-weight: bolder;
    }

    p, a{
        font-weight: bolder;
    }
}

/* Fix Modal con contenedor sticky-top */
.modal-backdrop {
    position:relative !important;
  }

 .modal{
     background-color: rgba(0,0,0,0.7);
 } 

 /* Imagenes responsive para cards */
 .img-thumbnail{
     height: 200px !important;
 }

 /* Color boton de articulo - producto */
 .btn-outline-info{
    background-color: rgba(18, 74, 194, 0.3) !important;
    color:whitesmoke !important;
 }

 .btn-outline-info:hover{
    background-color:rgba(129, 236, 236,1.0) !important;
    color: white !important;
 }

 .btn-outline-info:active{
    color:rgba(179, 57, 57,1.0) !important;
    font-weight: bold;
 }

 /* Articulo - Producto */
.card{
    font-weight: bold;
    color: whitesmoke;
}